// Put your custom SCSS code here
.image-wrapper {
    position: relative;
}
.logo-light {
    margin-top: -8px;
    margin-bottom: -8px;
}
.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    margin-top: -8px;
    margin-bottom: -8px;
}
[data-bs-theme="dark"] .image-hover {
    opacity: 0.4;
}
.image-hover:hover {
    opacity: 1;
}
